/**************************************
	header
***************************************/

header {
    margin: 0 auto;
    width: 100%;

    .header-container {
        margin: 0 auto;
        width: 100%;

        .header-menu-container {
            margin: 0 auto;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

            .header-flex-container {
                margin: 0 auto;
                width: 100%;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

                li {
                    a {
                        display: block;
                        color: #fff;
                        font-family: $nunito;
                        font-size: 1.1rem;
                        font-weight: 500;
                        padding-bottom: 32px;
                        padding-top: 30px;
                        padding: 30px 15px 32px 15px;
                        letter-spacing: 0.05rem;
                        line-height: 20px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        .video-container {
            position: relative;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.3);
            overflow-x: hidden;

            .video-heading {
                z-index: 9999;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .logo {
                    display: block;
                    margin: auto;
                    max-width: 150px;
                    margin-bottom: 1rem;
                }

                .title {
                    margin: 0 auto;
                    width: 100%;

                    h2 {
                        font-family: "MatroRegular";
                        color: $white;
                        display: inline-block;
                        font-size: 2.7rem;
                        font-weight: 700;
                        line-height: 3.7rem;
                        letter-spacing: 0.1rem;
                        margin-bottom: 0;
                    }

                    p {
                        color: $white;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        padding: 0.25rem 0.75rem;
                        margin-bottom: 0;
                        font-family: $nunito;
                        font-weight: 400;
                        margin-top: 0;
                    }
                }

                .apply-btn {
                    margin-top: 1.5rem;

                    a {
                        transition: all 0.2s ease-in-out;
                        border-radius: 3px;
                        display: block;
                        margin: 2rem auto 0;
                        text-align: center;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        font-size: 1rem;
                        width: 8rem;
                        background: #fde000;
                        color: #555;
                        font-weight: 700;
                        padding: 0.3rem 0.5rem 0.2rem;
                        font-size: 0.9rem;
                        box-sizing: border-box;
                    }
                }
            }

            .video-inner-container {
                position: relative;
                width: 100vw;
                height: 100vh;
                z-index: -1;

                video {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    object-fit: cover;
                }
            }
        }


    }
}


/******************************
    header sp
*******************************/

@include media($mobileSize) {
    header {}
}