/**************************************
	header
***************************************/

header {
    margin: 0 auto;
    width: 100%;

    .header-container {
        margin: 0 auto;
        width: 100%;
        background: #00588d;

        .header-menu-container {
            margin: 0 auto;
            padding-left: 90px;
            box-sizing: border-box;
            position: relative;

            .facebook-header {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                padding-bottom: 27px;
                padding-top: 27px;
                z-index: 10;

                a {
                    font-size: 1.6rem;
                }

                i {
                    color: $white;
                    transition: all 0.3s ease;

                    &:hover {
                        color: #3b5998;
                    }
                }
            }

            .header-flex-container {
                margin: 0 auto;
                width: 100%;
                max-width: 1170px;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    a {
                        display: block;
                        color: #fff;
                        font-family: $nunito;
                        //                        font-family: 'Avenir LT Std', Arial, Helvetica, sans-serif;
                        font-size: .8rem;
                        font-weight: 900;
                        padding-bottom: 32px;
                        padding-top: 30px;
                        padding: 30px 15px 32px 15px;
                        letter-spacing: 0.05rem;
                        line-height: 20px;
                        box-sizing: border-box;

                        @media screen and (max-width: 1000px) {
                            font-size: 1rem;
                            padding: 30px 10px 32px 10px;
                        }
                    }
                }
            }
        }


        .header-bottom-menu {
            margin: 0 auto;
            background: $white;
            width: 100%;

            .header-bottom-menu-container {
                width: 95%;
                max-width: 1247px;
                min-height: 61px;
                margin: 0 auto;
                text-align: center;
                position: relative;

                .header-bottom-menu-flex-container {
                    padding: 10px 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;

                    .logo {
                        flex: 1;

                        //                        margin: 39px 0 0 0;
                        a {
                            display: block;
                            width: 100px;
                        }
                    }

                    .nav-menu {
                        margin-right: 30px;
                        //                        width: 100%;

                        .flex-container {
                            display: flex;
                            justify-content: center;

                            li {
                                box-sizing: border-box;

                                a {
                                    margin: 0 auto;
                                    padding: 0 20px;
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: .8rem;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    color: #323543;
                                    line-height: 25.2px;
                                    letter-spacing: 2.52px;
                                    text-align: center;
                                    box-sizing: border-box;

                                    img {
                                        margin-bottom: 15px;
                                        width: 50px;
                                    }
                                }
                            }
                        }
                    }

                    .searchbar {
                        width: 25%;

                        input {
                            width: 100%;
                            height: 61px;
                            padding: 0 75px 0 22px;
                            border: 1px solid #d2d2d2;
                            background-color: #fff;
                            font-family: 'Avenir LT Std', Arial, Helvetica, sans-serif;
                            font-size: 1.0625em;
                            font-weight: 300;
                            line-height: 25.5px;
                            box-sizing: border-box;
                        }

                        .searchicon {
                            width: 74px;
                            height: 59px;
                            background-repeat: no-repeat;
                            background-image: url(../img/search_icon_grey.svg);
                            background-size: 19px 19px;
                            background-position: center;
                            cursor: pointer;
                            position: relative;
                            margin: -60px 1px 0;
                            float: right;
                            background-color: #fff;
                        }
                    }
                }
            }
        }


        .video-container {
            position: relative;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.3);
            overflow-x: hidden;

            .video-heading {
                z-index: 9999;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .logo {
                    display: block;
                    margin: auto;
                    max-width: 150px;
                    margin-bottom: 1rem;
                }

                .title {
                    margin: 0 auto;
                    width: 100%;

                    h2 {
                        font-family: "MatroRegular";
                        color: $white;
                        display: inline-block;
                        font-size: 2.7rem;
                        font-weight: 700;
                        line-height: 3.7rem;
                        letter-spacing: 0.1rem;
                        margin-bottom: 0;
                    }

                    p {
                        color: $white;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        padding: 0.25rem 0.75rem;
                        margin-bottom: 0;
                        font-family: $nunito;
                        font-weight: 400;
                        margin-top: 0;
                    }
                }

                .apply-btn {
                    margin-top: 1.5rem;

                    a {
                        transition: all 0.2s ease-in-out;
                        border-radius: 3px;
                        display: block;
                        margin: 2rem auto 0;
                        text-align: center;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        font-size: 1rem;
                        width: 8rem;
                        background: #fde000;
                        color: #555;
                        font-weight: 700;
                        padding: 0.3rem 0.5rem 0.2rem;
                        font-size: 0.9rem;
                        box-sizing: border-box;
                    }
                }
            }

            .video-inner-container {
                position: relative;
                width: 100vw;
                height: 100vh;
                z-index: 1;

                video {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    object-fit: cover;
                }
            }
        }


    }
}

@include media($mobileSize) {
    header {}
}